<h1>Angular Google Maps (AGM) Demo</h1>

<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [zoomControl]="true"
(mapClick)="mapClicked($event)"> <!--Aggiungi la gestione dell'evento click sulla mappa-->

  <agm-marker *ngFor="let m of markers"
    [latitude]="m.lat" [longitude]="m.lng" [label]="m.label"  [iconUrl]="m.icon"
  >
  </agm-marker>

  <agm-data-layer [geoJson]="geoJsonObject" [style]="styleFunc">
  </agm-data-layer>
  <!--Aggiungi un cerchio alla mappa-->
  <!-- qua abbiamo aggiunto il tagagm-circle e passiamo il raggio la latitudine e la longitudine e il colore-->
  <!-- con questi due parametri true editable e circledraggable permettiamo all utente di poter ridimensionare e spostare il cerchio sulla mappa-->
  <agm-circle [latitude]="circleLat" [longitude]="circleLng"
      [radius]="radius"
      [fillColor]="'red'"
      [circleDraggable]="true"
      [editable]="true"
      
      (radiusChange) = circleRedim($event)
      (circleDblClick) = circleDoubleClicked($event)

      >
  </agm-circle>

</agm-map>


<form>
  <h3 >Vettori</h3>
  <div>
    <input name="title" #foglio> <!--Aggiunta una variabile di template-->
    <label for="title">Foglio</label>
  </div>
  <button (click)="cambiaFoglio(foglio)"> <!--Passiamo le variabili come parametro -->
    Cambia
  </button>
  <!-- abbiamo aggiunto il bottone cambia ci permettera di cambiare il nostro foglio-->
</form>

